<div class="animate__animated animate__fadeIn">
    <h2>Búsqueda por país</h2>
    <hr/>
    <div class="row">
        <div class="col">
            <app-input
                (onSearch)="search( $event )"
                (onDebounce)="suggestions( $event )"
                [placeholder]="placeholder"
            ></app-input>
        </div>
    </div>
    <ul 
        *ngIf="showSuggestions"
        class="list-group"
    >
        <li 
            *ngFor="let country of countriesSuggest"
            class="list-group-item list-group-item-action"
        >
            <a 
                class="country-nav-link"
                [routerLink]="['/country', country.cca2]"
            >
                {{ country.name.common }}
            </a>
        </li>
        <li 
            class="list-group-item list-group-item-action"
            (click)="search( term )"
        >
            <a class="country-nav-link">
                Buscar: {{ term }}
            </a>
        </li>
    </ul>
    <hr/>
    <div
        *ngIf="isError"
        class="alert alert-danger"
    >
        No se encontró ningún país con el nombre: {{ term }}
    </div>
    
    <div *ngIf="countries.length > 0" class="row">
        <div class="col">
            <app-country-table [countries]="countries"></app-country-table>
        </div>
    </div>
</div>
